<div class="main">
  <wrap class="btn btn-flat-border">
    <%= link_to("新規登録", "/task/new" )%>
  </wrap>
  <% @spots.each do |spot| %>
    <div class="container">
      <div><%= spot.title %></div>
      <div><%= spot.content %></div>
      <br>

      <wrap class="btn btn-flat-border">
        <%= link_to("詳細", "/task/show/#{task.id}") %>
      </wrap>
    </div>
  <% end %>
</div>