<div class="main">
  <wrap class="btn btn-flat-border">
    <%= link_to("新規登録", "/spot/new" )%>
  </wrap>
  <% @spots.each do |spot| %>
    <div class="container">
      <div><%= spot.title %></div>
      <div><%= spot.content %></div>
      <br>

      <wrap class="btn btn-flat-border">
        <%= link_to("詳細", "/spot/show/#{spot.id}") %>
      </wrap>
    </div>
  <% end %>
</div>